header{
    background-color: rgb(38, 38, 94);
    color: white;
}

header .container > span{
    font-size: 20px;
    font-weight: bold;
}

.text-nav{
    font-weight: bold;
    font-size: 14px;
}

.start{
    height: 400px;
    background-color: rgb(43, 167, 140); 
}

.about{
    height: 300px;
    background-color: rgb(43, 167, 140); 
}

.contact{
    height: 500px;
}

.social{
    height: 200px;
    background-color: rgb(126, 126, 160);
}

.footer{
    height: 100px;
    background-color: rgb(62, 57, 90);
}

