header{
    background-color: rgb(38, 38, 94);
    color: white;
}


.text-start{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.jumbo{
    margin-top: 95px;
}

.text-nav{
    font-weight: bold;
    font-size: 14px;
}

.start{
    background-color: rgb(43, 167, 140); 
}

.jumbotron img{
    width: 200px;
}

.icon-jumbotron{
    font-size: 25px;
}

.div-white{
    display: inline-block;
    width: 15%;
    height: 5px;
    background-color: white;
}

.div-black{
    display: inline-block;
    width: 15%;
    height: 5px;
    background-color: black;
}

.star{
    font-size: 25px;
    margin: 0 10px;
}

.works{
    font-size: 20px;
}

.portfolio{
    font-size: 40px;
}


.about{
    background-color: rgb(43, 167, 140); 
}

button{
    color: white;
}



input{
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-color: lightgrey;
    padding-bottom: 15px;
}

textarea{
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-color: lightgrey;
    padding-bottom: 15px;
}

 ::placeholder{
    color: black;
} 

.send{
    background-color: rgb(43, 167, 140); 
    font-size: 20px;
    border-color: rgb(43, 167, 140); 
}

.icon-social{
    border:1px white solid;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-green{
    color: rgb(43, 167, 140);
}

.social{
    background-color: rgb(126, 126, 160);
}

.footer{
    height: 100px;
    background-color: rgb(62, 57, 90);
}

